/* navbar */
.navbar-default {
    background-color: #0664c2;
    border-color: #E7E7E7;
}

/* title */
.navbar-default .navbar-brand {
    color: #f2f2f2;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #f2f2f2;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #095fb3;
}

/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

.center-block {
    margin.left: auto;
    margin.right: auto;
}

div.post-tabs {
    margin-top: 16px;
}

ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    border-top: 2px solid #e0e0e0;
}

div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}

ul.posts li.post {
    padding: 8px 8px 8px 4px;
    border-bottom: 1px solid #e0e0e0;
}

ul.posts li.post:hover {
    background-color: #f0f0f0;
}

div.post-date {
    float: right;
}

div.post-author {
    font-weight: bold;
}

div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}

div.post-footer {
    text-align: right;
}

ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.comments li.comment:hover {
    background-color: #f0f0f0;
}

div.comment-footer {
    float: right;
}

div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.post-body h1 {
    font-size: 140%;
}

.post-body h2 {
    font-size: 130%;
}

.post-body h3 {
    font-size: 120%;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

p.post-attr {
    float: right
}

p.post-title {
    font-size: 140%
}

div.channel-list {
    margin-top: 30px;
}

div.follow-count {
    margin-top: 25px;
}

ul.activities {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

ul.activities li.activity {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

ul.activities li.activity:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}

ul.activities li.activity:hover {
    background-color: #f0f0f0;
}

div.activity-header {
    font-weight: bold;
}

div.activity-date {
    float: right;
}

div.activity-footer {
    float: right
}