.header .navbar {
    font-size: 120%;
}
/*************** login ***************/
.form-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-flex {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 400px;
    min-height: 400px;
    border-radius: 12px;
    border: solid 2px #f0f0f0;
    padding: 3%;
}
.form-flex .form-flex-item {
    margin: 5px 0 5px 0;
    font-size: 125%;
}
.form-flex .form-flex-item .title{
    font-size: 220%;
    font-weight: bolder;
}
.form-flex .form-flex-item .description{
    margin-bottom: 45px;
    font-size: 130%;
}
.form-flex .form-flex-item .block{
    margin-bottom: 15px;
}
.form-flex-item .form-flex-tab {
    display: flex;
    flex-direction: row;
}
.form-flex-item .form-flex-tab a {
    text-decoration: none;
    color: #000;
}
.form-flex-item .form-flex-tab .active {
    color: dodgerblue;
}
.form-flex-tab .a:hover{
    text-decoration: none;
}
.form-flex-tab .block {
    margin-left: 20px;
}
.form-flex-item .tab-block{
    height: 3px;
    width: 45px;
    position: relative;
    left: 100px;
    background-color: dodgerblue;
}
