<div class="items-container">
    {% for a in activities %}
    <div class="col-md-12 item-container">
        <div class="item-full">
            {% set author = a.author %}
            {% set item = a.display_item() %}
            {% set item_name = item[0] %}
            {% if item_name == 'post' %}
                {% set title = item[1] %}
                {% set content = item[2] %}
                <div class="item-header">
                    {% set channel = a.channel %}
                    在 {{ channel.name }} 内发表了
                </div>
                <div class="item-title">
                    <a href="/post/{{ a.id }}">{{ title }}</a>
                </div>
                <div class="item-content">
                    {{ content }}
                </div>
                <div class="item-footer">
                    {{ a.comments | length }} 条评论 |
                    <a href="#">删除</a> |
                    <a href="#">编辑</a> |
                    发表时间: {{ a.created_time }}
                </div>
            {% elif item_name == 'comment' %}
                {% set content = item[1] %}
                <div class="item-header">
                    发表了评论
                </div>
                <div class="item-content">
                    <a href="/post/{{ a.post.id }}">{{ content }}</a>
                </div>
                <div class="item-footer">
                    <a href="#">删除</a> |
                    <a href="#">编辑</a> |
                    发表时间: {{ a.created_time }}
                </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
