<div class="col-md-10 channel-list">
    <div class="channel-list-caption">
        <i class="fa fa-list-alt"></i>&nbsp; 所有频道
    </div>
    <div class="channel-list-items">
        {% for c in channels %}
        {% if not c.is_admin() %}
            <div class="channel-list-item">
                <a href="/channel/{{ c.id }}">{{ c.name }}</a>
            </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if current_user is not none and current_user.is_admin()%}
        <div class="channel-list-caption">
            <i class="fa fa-list-alt"></i>&nbsp; 管理员频道
        </div>
        {% for c in channels %}
        {% if c.is_admin() %}
            <div class="channel-list-item">
                <a href="/channel/{{ c.id }}">{{ c.name }}</a>
            </div>
        {% endif %}
        {% endfor %}
        <div class="channel-add">
            <form class="form-inline" action="/admin/add_channel" method="POST">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-plus"></i></div>
                        <input type="text" class="form-control" name="name" placeholder="输入频道名">
                        <select class="form-control" name="permission">
                            {% for p in permissions %}
                            <option value="{{ p[0] }}">{{ p[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
              <button type="submit" class="col-md-offset-7 btn add-channel-btn btn-lg">增加频道</button>
            </form>
        </div>
    {% endif %}
</div>
