<div class="comment-list">
    {% for comment in post.comments_sorted_by_time(post.comments) %}
    <div class="comment-item">
        <div class="comment-author col-md-2">
            <a href="#">
                <img class="media-object round-portrait-64" src="{{ comment.author.gravatar(size=64) }}">
            </a>
            <h4 class="media-heading">{{ comment.author.username }}</h4>
        </div>
        <div class="comment-body col-md-10">
            <div class="comment-date">{{ comment.created_time | format_time }}</div>
            <div class="comment-content" id="id-comment-content-{{ post.id }}">
                {{ comment.content }}
            </div>
            <div class="comment-footer">
                <!--{% if current_user is not none and (current_user.is_admin() or current_user.username == comment.author.username)  %}-->
                <!--<div class="comment-footer-item"><button class="button-delete btn" data-id="{{ post.id }}">删除</button></div>-->
                <!--{% endif %}-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>