{% for c in comments %}
    {% set author = c.author.username %}
    {% set content = c.content %}
    {% set created_time = c.created_time %}
    <div class="col-md-12 comment-content">
        <div class="col-md-2 comment-author-info">
            <div class="comment-portriat">
                <a href="/profile/author">
                    <img class="img-rounded center-block" src="{{c.author.gravatar(size=50)}}">
                </a>
            </div>
            <div class="comment-author">
                {{ author }}
            </div>
        </div>
        <div class="col-md-10 comment-details">
            <div class="col-md-12 comment-body">
                {{ content }}
            </div>
        </div>
        <div class="col-md-12 comment-footer">
            {% if current_user is not none or current_user == c.author or current_user.is_admin() %}
            编辑
            &nbsp; | &nbsp;
            <a href="{{ url_for('delete_comment', id=c.id) }}">删除</a>
            &nbsp; | &nbsp;
            发表于： {{ created_time }}
            {% endif %}
        </div>
    </div>
{% endfor %}
