<div class="items-container">
    {% for post in posts %}
        <div class="item-container col-md-12">
            {% set post_author = post.author %}
            {% set post_channel = post.channel.name %}
            {% set item = post.display_item() %}
            {% set post_title = item[1] %}
            {% set post_content = item[2] %}
            <div class="col-md-2 item-left">
                <div class="item-portrait">
                    <img class="img-rounded center-block round" src="{{ post_author.gravatar(size=60) }}" />
                </div>
                <div class="item-author">
                    <a href="/profile/{{ post_author.username }}">{{ post_author.username }}</a>
                </div>
            </div>
            <div class="col-md-10 item-right">
                <div class="item-header">
                    {{ post_author.username }} 在 {{ post_channel }} 内发表了
                </div>
                <div class="item-body"></div>
                    <div class="item-title">
                        <a href="/post/{{ post.id }}">{{ post_title }}</a>
                    </div>
                    <div class="item-content">
                        {{ post_content }}
                    </div>
                <div class="item-footer">
                    作者: {{ post_author.username }} | 发表时间: {{ post.created_time }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>