<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    <link href="../static/pure-min.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <p>
        <a href="/">首页</a> |
        {% if current_user is none %}
            <a href="/login">登录</a> |
            <a href="/register">注册</a> |
        {% else %}
            欢迎，<a href="/profile/{{ current_user.username }}">{{ current_user.username }}</a>
            <a href="/logout">登出用户</a> |
        {% endif %}
        </p>
        <hr>
    {% endblock %}

    {% block content %}
        {% for msg in get_flashed_messages() %}
            <p>{{ msg }}</p>
        {% endfor %}
        {% block page_content %}{% endblock %}
    {% endblock %}
</body>
</html>