{% extends "base.html" %}

{% block title %}Base3-9-3{% endblock %}

{% block content %}
    <section class="bars">
        <div class="container">
            <div class="row">
            <div class="col-md-3">
                <div class="row bar-left">
                    {% block left_bar %}
                    {% include "_channels.html" %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="row page-content">
                    {% include "_flashed_msg.html" %}
                    {% block page_content %}{% endblock %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="row bar-right">
                    {% block right_bar %}
                    {% include "_portrait.html" %}
                    {% include "_bbs_info.html" %}
                    {% endblock %}
                </div>
            </div>
        </div>
        </div>

    </section>
{% endblock %}