{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 page-content">
            {% include "_flashed_msg.html" %}
            {% block page_content %}{% endblock %}
        </div>
        <div class="col-md-4 side-bar">
            <div class="row">
                {% block page_side %}
                {% include "_portrait.html" %}
                {% endblock %}
                {% include "_bbs_info.html" %}
                {% include "_channels.html" %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}