<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% block head %}
    <link href="../static/pure/pure-min.css" rel="stylesheet" type="text/css" />
    <link href="../static/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <script src="../static/jquery/jquery-3.0.0.min.js"></script>
    <script src="../static/bootstrap/bootstrap.js"></script>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">练瓜</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user is not none %}
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ current_user.username }}<b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/login">登录</a></li>
                        <li><a href="/register">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
        <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                {% for msg in get_flashed_messages() %}
                <div class="alert {% if '成功' in msg %}alert-success{% elif '失败' in msg %}alert-danger{% else %}alert-warning{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ msg }}
                </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
            {% block page_side %}
            <div class="span4">
                <img class="img-rounded" alt="140x140" src="#" />
                <div class="row-fluid">
                    <div class="span4">
                    </div>
                    <div class="span4">
                    </div>
                    <div class="span4">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                    </div>
                </div>
            </div>
            {% endblock %}
            </div>
        </div>

    {% endblock %}
</body>
</html>