{% extends "base.html" %}

{% block title %}{{ channel.name }}{% endblock %}

{% block script %}
{{ super() }}
<script src="../static/js/post.js"></script>
<script>
    var insertPost = function (post) {
        var template = `
            <div class="post-item" id="id-post-item-${ post.id }">
                <div class="post-author">
                    <a href="#">
                        <img class="media-object round-portrait" src="${ post.author.portrait }">
                    </a>
                    <h4 class="media-heading">${ post.author.username }</h4>
                </div>
                <div class="post-body">
                    <div class="post-title">${ post.title }
                        <div class="post-date">${ formatTime(post.created_time) }</div>
                    </div>
                    <div class="post-content" id="id-post-content-${ post.id }">
                        ${ post.content }
                    </div>
                    <div class="display display-all" data-id="${ post.id }">展开全部
                        <div class="fa fa-chevron-down"></div>
                    </div>
                    <div class="display display-brief" data-id="${ post.id }">收起
                        <div class="fa fa-chevron-up"></div>
                    </div>
                    <div class="post-footer">
                        {% if current_user is not none and current_user.is_admin() %}
                        <div class="post-footer-item"><button class="button-delete btn" data-id="${ post.id }">删除</button></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        `;
        $('#id-div-post-list').prepend(template);
        displaySetUpFirst();
        bindPostDelete();
        bindDisplayAll();
        bindDisplayBrief();
    };

    var clearPostForm = function () {
        $('#id-text-title').val('');
        $('#id-text-content').val('');
    };

    var addNewPost = function () {
        var form = {
            'title': $('#id-text-title').val(),
            'content': $('#id-text-content').val(),
            'channel_id': {{ channel.id }}
        };
        var success = function (r) {
            if (r.success) {
                insertPost(r.data);
                clearPostForm();
            } else {
                alertMessage(r.message);
            }
        };
        var error = function (err) {
            log(err);
        };
        bbs.postAdd(form, success, error)
    };

    var bindPostAdd = function () {
        $('#id-button-post-add').on('click', function () {
            dismissAlert();
            addNewPost();
        });
    };

    var bindActions = function () {
        bindPostAdd();
        bindPostDelete();
        bindDisplayAll();
        bindDisplayBrief();
        displaySetUpAll();
    };

    var afterLoad = function () {

    };

    var __main = function () {
        bindActions();
    };

    $(document).ready(function () {
        __main();
    });
    
    $(document).ajaxComplete(function () {
        afterLoad();
    })
</script>
{% endblock %}

{% block page_content %}
 <h1>{{ channel.name }}</h1>
 <hr>
<div class="well">
    <h4>发表帖子:</h4>
    <div class="post-form">
        <div class="post-form-item"><input id="id-text-title" class="form-control" placeholder="输入标题"></div>
        <div class="post-form-item"><textarea id="id-text-content" class="form-control" rows="4" placeholder="输入正文"></textarea></div>
        <div class="post-form-item"><button type="button" id="id-button-post-add" class="btn btn-primary">发表</button></div>
    </div>
</div>
<hr>
{% include "_posts.html" %}
{% endblock %}