{% extends 'base.html' %}

{% block title %}用户登录{% endblock %}

{% block page_content %}
    <h1>用户登录</h1>
    <form class="pure-form" action="/login" method="POST">
        <input name="username" class="form-control" placeholder="输入用户名" />
        <br>
        <input name="password" class="form-control" type="password" placeholder="输入密码" />
        <br>
        <button class="pure-button pure-button-primary" type="submit">登录</button>
    </form>
    <p>没有账号？<a href="/register">点击注册</a></p>
{% endblock %}

{% block page_side %}
{% endblock %}