{% extends 'base8-4.html' %}

{% block title %} 帖子 - {{ post.title }}{% endblock %}

{% block page_content %}
    <body>
        <h1>{{ post.title }}</h1>
        <br>
        <p>{{ post.content }}</p>
    </body>
    <hr>
    <h2>回复</h2>
    {% include "_comments.html" %}
    <h2>回复该帖</h2>
    <form class="pure-form" action="{{ post.id }}/add_comment" method="POST">
        <input name="content" class="form-control" />
        <br>
        <button class="pure-button pure-button-primary">回复</button>
    </form>
{% endblock %}
