{% extends 'base8-4.html' %}

{% block title %}{{ user.username }} - 用户资料{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 profile">
            <div class="col-md-12 user-name-note">
                {{ user.username }} ，
            </div>
            <div class="col-md-4 profile-portrait">
                <img class="img-rounded center-block" src="{{ user.gravatar(size=180) }}" />
            </div>
            <div class="col-md-8 profile-info">
                <div class="profile-info-item">
                    <i class="icon-arrow-right"></i>
                </div>
                <p>性    别: </p>
                <p>个性签名: </p>
            </div>
        </div>
        <div class="col-md-12 activities-list">
            <div class="activities-list-header">最新动态</div>
            <div class="activities-list-body">
                {% if activities.__len__() == 0 %}
                    <h4>暂无动态</h4>
                {% else %}
                    {% include "_activities.html" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block page_side %}
    <div class="row follow-count">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        关注了<br>0 人</div>
        <div class="col-md-4">
        关注者<br>0 人</div>
    </div>
{% endblock %}