{% extends 'base8-4.html' %}

{% block title %}{{ user.username }} - 用户资料{% endblock %}

{% block page_content %}
    <h1>{{ user.username }} - 用户资料</h1>
    <p>性    别: </p>
    <p>个性签名: </p>
    <hr>
    <h2>他的动态</h2>
    {% include "_activities.html" %}
{% endblock %}

{% block page_side %}
    <div class="row follow-count">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        关注了<br>0 人</div>
        <div class="col-md-4">
        关注者<br>0 人</div>
    </div>
{% endblock %}