{% extends 'base12.html' %}

{% block title %}用户注册{% endblock %}

{% block header %}
    <div class="hero-content text-center">
        <section class="sign-up section-padding text-center from-bg" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>快速注册</h2>
                        <h3>与世界分享你的装逼经验</h3>
                        <form class="signup-form" action="/register" method="POST" role="form">
                            <div class="form-input-group">
                                <i class="fa fa-user"></i>
                                <input type="text" name="username" placeholder="输入用户名" required>
                            </div>
                            <div class="form-input-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" name="password" placeholder="输入密码" required>
                            </div>
                            <div class="form-input-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" name="password2" placeholder="再次确认密码" required>
                            </div>
                            <div class="form-input-group">
                                <i class="fa fa-envelope"></i>
                                <input type="email" name="email" placeholder="输入用户邮箱" required>
                            </div>
                            <button type="submit" class="btn-fill sign-up-btn">点击注册</button>
                        </form>
                        <div class="sign-up-note">已有账号？<a href="/login">点击登录</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

